h1 {
  text-align: center;
}

.post_card {
  padding: 4px 10px;
  border-radius: 10px;
  margin: 10px;
  background-color: aqua;
  box-shadow: 6px 5px 5px 0px rgba(183, 189, 219, 0.75);
}

.title {
  font-weight: bold;
}

.body {
  font-size: small;
}
